<!DOCTYPE html>
<html data-ng-app>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Quiz time{% endblock %}</title>
        {% stylesheets '@bootstrap_css' '@lifotypeahead_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts '@jquery' '@bootstrap_js' '@fosjsrouting' '@lifotypeahead_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
