{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>New choice</h1>
                {{ form_start(choiceForm) }}
                {{ form_widget(choiceForm) }}
                <button type="submit" class="btn btn-primary">Save</button>
                {{ form_end(choiceForm) }}
            </div>
        </div>
    </div>
{% endblock %}