{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Categories&nbsp;<a href="{{ path('admin_categories_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h1>
    </div>

    <div class="list-group">

        {% for category in categories %}

            <a href="#" class="list-group-item">{{ category.name }}</a>

            {% for choice in categories.choices %}
                <a href="#" class="list-group-item">{{ choice.name }}</a>
            {% endfor %}

        {% endfor %}

    </div>

{% endblock %}