{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
            <a href="{{ path('admin_choices_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
        </div>
        <h1>Choices</h1>
    </div>

    <div class="list-group">

        {% for choice in choices %}

            <a href="#" class="list-group-item">{{ choice.content }}</a>

        {% endfor %}

    </div>

{% endblock %}