{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Questions&nbsp;<a href="{{ path('admin_questions_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h1>
    </div>


    <div class="list-group">

        {% for question in questions %}

            <a href="#" class="list-group-item">{{ question.content }}</a>

            {% for answer in questions.answers %}
                <a href="#" class="list-group-item">{{ answer.content }}</a>
            {% endfor %}

        {% endfor %}

    </div>

{% endblock %}