{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
            <a href="{{ path('admin_questions_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
        </div>
        <h1>Questions</h1>
    </div>

    <div class="list-group">

        {% for question in questions %}

            <a href="#" class="list-group-item">{{ question.content }}</a>

            {% for choice in questions.choices %}
                <a href="#" class="list-group-item">{{ choice.content }}</a>
            {% endfor %}

        {% endfor %}

    </div>

{% endblock %}